{% extends "admin/change_form.html" %}
{% load static %}
<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>

{% endblock %}
{% block content %}

<!-- Override jquery css -->
<style>
    .tabs {
        background-color: var(--body-bg);
    }

    .tabs1 {
        background-color: var(--body-bg);
    }

    td,
    th {
        color: white;
    }

    .section {
        background-color: var(--primary);
        text-align: justify
    }
</style>

<body>
    <form name="attributeform" id="attributeform" method="post">
        {% csrf_token %}
        <!-- empty attributeform -->
        {% if obj == None %}
        <!-- Translation table add -->
        <table>
            {% for i in lang_data %}
            <tr>
                <td>Name [{{i.locale}}]</td>
                <input type="hidden" value="{{i.locale}}" name="{{i.locale}}language" id="{{i.locale}}language"
                    required>
                <th><input type="text" name="{{i.locale}}name" id="{{i.locale}}name" required></th>
            </tr>
            {% endfor %}
        </table><br><br>
        <div id="Attribute">
            <table>
                <tr>
                    <td>Code</td>
                    <th><input type="text" name="code" id="code" required></th>
                </tr>
                <tr>
                    <td>Input Type</td>
                    <th>
                        <select name="inputtype" id="inputtype">
                            <option disabled selected>------</option>
                            <option value="Textbox">Textbox</option>
                            <option value="Radio">Radio</option>
                            <option value="Checkbox">Checkbox</option>
                            <option value="Boolean">Boolean</option>
                            <option value="Textarea">Textarea</option>
                            <option value="Multi-select">Multi-select</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <td>Is Request?</td>
                    <th><input type="checkbox" name="isrequest" id="isrequest" required></th>
                </tr>
            </table>
        </div><br><br>
        <div class="breadcrumbs"></div>
        <table>
            {% for i in lang_data %}
            <tr>
                <td>Name [{{i.locale}}]</td>
                <input type="hidden" value="{{i.locale}}" name="{{i.locale}}language" id="{{i.locale}}language"
                    required>
                <th><input type="text" name="{{i.locale}}name" id="{{i.locale}}name" required></th>
            </tr>
            {% endfor %}
            <tr>
                <td>Custom Option</td>
                <th><input type="text" name="option" id="option" required></th>
            </tr>
            <tr>
                <td>Sort Order</td>
                <th><input type="text" name="sortorder" id="sortorder" required></th>
            </tr>
            <tr>
                <td>Default?</td>
                <th><input type="checkbox" name="isdefault" id="isdefault" required></th>
            </tr>
        </table><br><br>
    </div>
        {% else %}
        <!-- disply/update attributeform -->
        <!-- Attribute Translation tab -->
        <table>
            {% for i in lang_data %}
            <th><input type="hidden" value="{{i.locale}}" name="{{i.locale}}language" id="{{i.locale}}language"
                    required></th>
            <tr>
                <td>Name [{{i.locale}}]</td>
                <th><input type="text" name="{{i.locale}}name" id="{{i.locale}}name" required></th>
            </tr>
            {% endfor %}
        </table>
        <div id="Attribute">
            <table>
                <tr>
                    <td>Code</td>
                    <th><input type="text" name="code" id="code" required></th>
                </tr>
                <tr>
                    <td>Input Type</td>
                    <th>
                        <select name="inputtype" id="isrequest">
                            <option disabled selected>------</option>
                            <option value="Textbox">Textbox</option>
                            <option value="Radio">Radio</option>
                            <option value="Checkbox">Checkbox</option>
                            <option value="Boolean">Boolean</option>
                            <option value="Textarea">Textarea</option>
                            <option value="Multi-select">Multi-select</option>
                        </select>
                    </th>
                </tr>
                <tr>
                    <td>Is Request?</td>
                    <th><input type="checkbox" name="isrequest" id="isrequest" required></th>
                </tr>
            </table>
        </div><br><br>
        {% endif %}
        <input type="submit" />
    </form>
</body>

<!-- {{ block.super }} -->
{% endblock %}