{% extends "admin/change_form.html" %}
{% load static %}
<!-- Override extrahead to add Chart.js -->
{% block extrahead %}
{{ block.super }}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>jQuery UI Tabs - Default functionality</title>
<link rel="stylesheet" href="//code.jquery.com/ui/1.13.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-3.6.0.js"></script>
<script src="https://code.jquery.com/ui/1.13.1/jquery-ui.js"></script>
<style>
  .tabs{
    background-color:var(--body-bg);
  }
 td,th{
    color: white;
  }

</style>
<script>
  $(function () {
    $("#tabs").tabs();
  });
</script>
{% endblock %}

{% block content %}

<body>
  <form action="#" method="post">
    {% csrf_token %}
    {% if obj == None %}
    <table>
      <tr>
        <td>Slug</td>
        <th><input type="text" name="slug" id="slug" required></th>
      </tr>
      <tr>
        <td>Sort Order</td>
        <th><input type="text" name="sortorder" id="sortorder" required></th>
      </tr>
      <tr>
        <td>Status</td>
        <th>
          <select name="status" id="status">
            <option value="Enabled">Enabled</option>
            <option value="Disabled">Disabled</option>
          </select>
        </th>
      </tr>
    </table>
    <br>
    <div id="tabs" class="tabs">
      <ul>
        {% for i in lang_data %}
        <li><a href="#{{i.locale}}">{{i.title}}</a></li>
        {% endfor %}
      </ul>

      <div id="{{i.locale}}">
        <p>
          <table>
            <tr>
              <td>Title</td>
              <th><input type="text" name="title" id="title" required></th>
            </tr>
            <tr>
              <td>Content</td>
              <th><textarea rows="4" cols="50" name="content" id="content" required></textarea></th>
            </tr>
          </table>
        </p>
        <input type="submit" />
      </div>
      </div> 

    {% else %}
    {% for i in page_data %}
    {% if obj == i.slug %}
    <table>
      <tr>
        <td>Slug</td>
        <th><input type="text" name="slug" id="slug" value="{{i.slug}}" required></th>
      </tr>
      <tr>
        <td>Sort Order</td>
        <th><input type="text" name="sortorder" id="sortorder" value="{{i.sortorder}}" required></th>
      </tr>
      <tr>
        <td>Status</td>
        <th>
          {{i.status}}
        </th>
      </tr>
    </table>
    {% endif %}
    {% endfor %}
    <br>
    <div id="tabs" class="tabs">
      <ul>
        {% for i in lang_data %}
        <li><a href="#{{i.locale}}">{{i.title}}</a></li>
        {% endfor %}
      </ul>

      {% for i in lang_data %}
      {% for data in Pages_data %}
      {% if i.title == data.language|stringformat:'s' %}
      <div id="{{i.locale}}">
        <p>
          <table>
            <tr>
              <td>Title</td>
              <th><input type="text" name="title" id="title" value="{{ data.title }}" required></th>
            </tr>
            <tr>
              <td>Content</td>
              <th><textarea rows="4" cols="50" name="content" id="content" required>{{ data.content }}</textarea></th>
            </tr>
          </table>
        </p>
        <input type="submit" />
      </div>
      {% endif %}
      {% endfor %}
      {% endfor %}
      {% endif %}
      </div> 
  </form>
</body>

<!-- {{ block.super }} -->
{% endblock %}